body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right, rgb(255, 35, 207), rgb(83, 255, 246));
}
.message{
  position: relative;
  margin: 150px;
  font-size: 40px;
}

.header-color{
  position: relative;
  font-size: 50px;
  font-Weight: 'bold';
  margin-left: 500px;
  margin-top: 20px
  
}

.banner-text{
  position: relative;
  margin-left: 90px;
  font-size: 20px;
  position: relative;
  text-align: left;

}
.Home{
  position: relative;
  margin-left: 90px;
  font-size: 25px;
  color: black;
}

.style{
  color:#696969;
  
}
.Image{
  position: relative;
  margin-left: 30px;
  width: 600px;
  height: 300px;
  top: -15px;
  margin-top: 90px;
  
}
.City{
  position: relative;
  float: right;
margin-right: 70px;
font-size: 30px;
  color: black;
}
.City-button{
  position: relative;
  float: right;
margin-right: 100px;
font-size: 30px;
  color: #696969;


}